// use
@use "sass:map";
@use "./helpers" as *;

// 기본 스타일
@use "./base/reset" as *;
@use "./base/typography" as *;
@use "./base/colors" as *;

// 개인 스타일
body {
  padding: 10px;
  // background-color: $light;
  background-color: map.get($theme-colors, "light");
  font-size: 16px;

  @media ($md_down) {
    font-size: 14px;
  }
}

.container {
  @include container;
}
