// use
@use 'sass:map';
@use 'sass:list';
@use 'sass:math';

// helpers
@import './helpers';

// base
@import './base/reset';
@import './base/typography';
@import './base/colors';

// 사용자 코드 입력
body {
  padding: 10px;

  // map.get 함수 사용 예제
  // $theme-colors 배열에서 원하는 key 값을 넣으면 value 값을 가져온다.
  background-color: map.get($theme-colors, 'light'); // == $light


  // 반응형 코드 예제
  @media ($md_down) {
    font-size: 14px;
  }
}

.container {
  max-width: $container;
  padding: 0 $gutter;
  margin: 0 auto;
}
