// use
@use 'sass:map';
@use 'sass:list';
@use 'sass:math';

// helpers
@import './helpers';

// variables에 선언된 default 값은 여기서 override 가능.
// $ff-default: 'Noto Sans KR', 'AppleSDGothicNeo', 'Malgun Gothic', sans-serif;
// @debug $ff-default;

// base
@import './base/reset';
@import './base/typography';
@import './base/colors';

// 사용자 코드 입력
body {
  // ram-calc 함수 사용 예제
  // px 값을 넣으면 rem 값으로 변환해준다.
  padding: rem-calc(10);
  // padding: rem-calc(10 20);
  // padding: rem-calc(10 20 30);
  // padding: rem-calc(10 20 30 40);


  // map.get 함수 사용 예제
  // $theme-colors 배열에서 원하는 key 값을 넣으면 value 값을 가져온다.
  background-color: map.get($theme-colors, 'light'); // == $light


  // 반응형 코드 예제
  @media ($md_down) {
    font-size: rem-calc(14);
  }
}

.container {
  max-width: $container;
  padding: 0 $gutter;
  margin: 0 auto;
}
