*, ::before, ::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'AppleSDGothicNeo', 'Malgun Gothic', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.8;
  overflow-x: clip;

  /* stylelint-disable-next-line order/properties-order */
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

main, header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

img {
  height: auto;
}

img, iframe, video, object, embed, button, select, input, textarea {
  overflow: visible;
  max-width: 100%;
  padding: 0;
  border: 0;
  margin: 0;
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
}

// 외형 초기화
%textarea,
textarea {
  border-radius: 0;
  appearance: none;
}

$inputType: ('text', 'search', 'tel', 'url', 'email', 'password', 'submit');
@each $v in $inputType {
  input[type='#{$v}'] {
    @extend %textarea;
  }
}

button, select {
  cursor: pointer;
  text-transform: none;
}

input[type='checkbox'] {
  border: 1rem solid;
  border-radius: 0;
}

input[type='search'] {
  -webkit-appearance: none;

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

button,
input[type='button'],
input[type='submit'],
input[type='reset'] {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

small {
  font-size: 80%;
}

code, kbd, samp {
  font-family: 'Consolas', 'monospace', sans-serif;
  font-size: 1em;
}

sub, sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

[hidden] {
  display: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

// 접근성 대응
.screen-reader-text {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  word-wrap: normal !important;
}
