// use
@use "sass:map";
@use "./mixins" as *;

// 색상값, 변수명 부트스트랩 카피
// https://getbootstrap.com/docs/5.3/customize/color/
// https://flatuicolors.com/palette/defo
$primary: #2c3e50;
$secondary: #7f8c8d;
$success: #27ae60;
$info: #3498db;
$warning: #f1c40f;
$danger: #c0392b;
$light: #ecf0f1;
$dark: #222;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// 레이아웃
$container: 1080px;
$gutter: 16px;

// breakpoints
// https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$xxl_up: "min-width: #{map.get($grid-breakpoints, "xxl")}";
$xl_up: "min-width: #{map.get($grid-breakpoints, "xl")}";
$lg_up: "min-width: #{map.get($grid-breakpoints, "lg")}";
$md_up: "min-width: #{map.get($grid-breakpoints, "md")}";
$sm_up: "max-width: #{map.get($grid-breakpoints, "sm")}";
$xs_up: "max-width: #{map.get($grid-breakpoints, "xs")}";

$xxl_down: "max-width: #{map.get($grid-breakpoints, "xxl") - 1}";
$xl_down: "max-width: #{map.get($grid-breakpoints, "xl") - 1}";
$lg_down: "max-width: #{map.get($grid-breakpoints, "lg") - 1}";
$md_down: "max-width: #{map.get($grid-breakpoints, "md") - 1}";
$sm_down: "max-width: #{map.get($grid-breakpoints, "sm") - 1}";
